.main {
  margin-top: 50px !important;
}

.card {
  border-radius: 10px;
}

.darrow {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 4 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2h4L2 0z' fill='%23333'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 0.65em 0.5em;
}

.table th,
.table td {
  vertical-align: middle;
}

.spinner-border {
  width: 2rem;
  height: 2rem;
}
