<main id="main" class="main" style="margin-top:50px!important;min-height:550px;" xmlns="http://www.w3.org/1999/html">
    <section class="section dashboard">
        <div class="row mt-4">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body" style="font-size:20px !important;">
 

                        <table class="table" style="border:1px solid #000;">
                             <tr >
                                 <td width="22%"><strong>Measurement Year</strong></td>
                                 <td>2024</td>
                                 <td>2024</td>
                                 <td>2024</td>
                             </tr>
                              <tr>
                                 <td><strong>PROVIDER GROUP</strong></td>
                                 <td>Collective Impact Health (CIH)</td>
                                 <td>Collective Impact Health (CIH)</td>
                                 <td>Collective Impact Health (CIH)</td>
                             </tr>
                              <tr>
                                 <td><strong>TIN</strong></td>
                                 <td>237082074</td>
                                 <td>273160687</td>
                                 <td>200807794</td>
                             </tr>
                              <tr bgcolor="#ffff00">
                                 <td><strong>Group Part C Rating</strong></td>
                                 <td>2.57</td>
                                 <td>2.57</td>
                                 <td>2.57</td>
                             </tr>
                             <tr bgcolor="#ffff00">
                                 <td><strong>Group Part D Rating</strong></td>
                                 <td>2.30</td>
                                 <td>2.30</td>
                                 <td>2.30</td>
                             </tr>
                             <tr bgcolor="#d9f2d0">
                                 <td><strong>Total Stars Rating</strong></td>
                                 <td>2.41</td>
                                 <td>2.41</td>
                                 <td>2.41</td>
                             </tr>
                              <tr bgcolor="#00ffff">
                                 <td><strong>TIN Part C Rating </strong></td>
                                 <td>2.73</td>
                                 <td>2.87</td>
                                 <td>2.87</td>
                             </tr>
                             <tr bgcolor="#00ffff">
                                 <td><strong>TIN Part D Rating </strong></td>
                                 <td>2.30</td>
                                 <td>2.00</td>
                                 <td>3.50</td>
                             </tr>
                              <tr bgcolor="#83caeb">
                                 <td><strong>BCS Num </strong></td>
                                 <td>60</td>
                                 <td>4</td>
                                 <td>11</td>
                             </tr>
                             <tr bgcolor="#83caeb">
                                 <td><strong>BCS Den </strong></td>
                                 <td>89</td>
                                 <td>4</td>
                                 <td>13</td>
                             </tr>
                             <tr bgcolor="#83caeb">
                                 <td><strong>BCS % </strong></td>
                                 <td>67.42%</td>
                                 <td>100%</td>
                                 <td>84.62%</td>
                             </tr>
                             <tr bgcolor="#83caeb">
                                 <td><strong>BCS % (rounded) </strong></td>
                                 <td>67.42%</td>
                                 <td>100%</td>
                                 <td>84.62%</td>
                             </tr>
                             <tr bgcolor="##84e290">
                                 <td><strong>CBP Num</strong></td>
                                 <td>127</td>
                                 <td>1</td>
                                 <td>13</td>
                             </tr>
                             
                            <tr bgcolor="##84e290">
                                <td><strong>CBP Den</strong></td>
                                <td>195</td>
                                <td>2</td>
                                <td>31</td>
                            </tr>
                          
                          <tr bgcolor="##84e290">
                              <td><strong>CBP %</strong></td>
                              <td>65.13%</td>
                              <td>50.00%</td>
                              <td>41.94%</td>
                          </tr>
                          <tr bgcolor="##84e290">
                            <td><strong>CBP % (rounded)</strong></td>
                            <td>65%</td>
                            <td>50%</td>
                            <td>42%</td>
                        </tr>
                        <tr bgcolor="##84e290">
                          <td><strong>CBP Star rating</strong></td>
                          <td>1</td>
                          <td>1</td>
                          <td>1</td>
                      </tr>
                      <tr bgcolor="##84e290">
                        <td><strong>CBP Star rating (using rounded %)</strong></td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                      </tr>
                    <tr bgcolor="##84e290">
                      <td><strong>CBP Weighted Star Rating</strong></td>
                      <td>3</td>
                      <td>3</td>
                      <td>3</td>
                    </tr>
                  <tr bgcolor="##84e290">
                    <td><strong>CBP Weighted Star Rating (using rounded %)</strong></td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                  </tr>
                <tr bgcolor="##84e290">
                  <td><strong>Group CBP Total Star Rating</strong></td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>

                <tr bgcolor="#C39BD3">
                  <td><strong>COA_MR Num</strong></td>
                  <td>265</td>
                  <td>8</td>
                  <td>37</td>
                </tr>
                <tr bgcolor="#C39BD3">
                  <td><strong>COA_MR Den</strong></td>
                  <td>266</td>
                  <td>8</td>
                  <td>37</td>
                </tr>
                <tr bgcolor="#C39BD3">
                  <td><strong>COA_MR %</strong></td>
                  <td>99.62%</td>
                  <td>100.00%</td>
                  <td>100.00%</td>
                </tr>
                <tr bgcolor="#C39BD3">
                  <td><strong>COA_MR % (rounded)</strong></td>
                  <td>100%</td>
                  <td>100%</td>
                  <td>100%</td>
                </tr>
                <tr bgcolor="#C39BD3">
                  <td><strong>COA_MR Star rating</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#C39BD3">
                  <td><strong>COA_MR Star rating (using rounded %)</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#C39BD3">
                  <td><strong>COA_MR Weighted Star Rating</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#C39BD3">
                  <td><strong>COA_MR Weighted Star Rating (using rounded %)</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#C39BD3">
                  <td><strong>Group COA_MR Total Star Rating</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#FFE0A3">
                  <td><strong>COA_PA Num</strong></td>
                  <td>188</td>
                  <td>7</td>
                  <td>28</td>
                </tr>
                <tr bgcolor="#FFE0A3">
                  <td><strong>COA_PA Den</strong></td>
                  <td>269</td>
                  <td>8</td>
                  <td>37</td>
                </tr>
                <tr bgcolor="#FFE0A3">
                  <td><strong>COA_PA %</strong></td>
                  <td>69.89%</td>
                  <td>87.50%</td>
                  <td>75.68%</td>
                </tr>
                <tr bgcolor="#FFE0A3">
                  <td><strong>COA_PA % (rounded)</strong></td>
                  <td>70%</td>
                  <td>88%</td>
                  <td>76%</td>
                </tr>
                <tr bgcolor="#FFE0A3">
                  <td><strong>COA_PA Star rating</strong></td>
                  <td>1</td>
                  <td>3</td>
                  <td>1</td>
                </tr>
                <tr bgcolor="#FFE0A3">
                  <td><strong>COA_PA Star rating (using rounded %)</strong></td>
                  <td>1</td>
                  <td>3</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#FFE0A3">
                  <td><strong>COA_PA Weighted Star Rating</strong></td>
                  <td>1</td>
                  <td>3</td>
                  <td>1</td>
                </tr>
                <tr bgcolor="#FFE0A3">
                  <td><strong>COA_PA Weighted Star Rating (using rounded %)</strong></td>
                  <td>1</td>
                  <td>3</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#FFE0A3">
                  <td><strong>Group COA_PA Total Star Rating</strong></td>
                  <td>1</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr bgcolor="#FFFF00">
                  <td><strong>COL Num</strong></td>
                  <td>129</td>
                  <td>3</td>
                  <td>19</td>
                </tr>
                <tr bgcolor="#FFFF00">
                  <td><strong>COL Den</strong></td>
                  <td>203</td>
                  <td>4</td>
                  <td>26</td>
                </tr>
                <tr bgcolor="#FFFF00">
                  <td><strong>COL %</strong></td>
                  <td>63.55%</td>
                  <td>75.00%</td>
                  <td>73.08%</td>
                </tr>
                <tr bgcolor="#FFFF00">
                  <td><strong>COL % (rounded)</strong></td>
                  <td>64%</td>
                  <td>75%</td>
                  <td>73%</td>
                </tr>
                <tr bgcolor="#FFFF00">
                  <td><strong>COL Star rating</strong></td>
                  <td>2</td>
                  <td>4</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#FFFF00">
                  <td><strong>COL Star rating (using rounded %)</strong></td>
                  <td>2</td>
                  <td>4</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#FFFF00">
                  <td><strong>COL Weighted Star Rating</strong></td>
                  <td>2</td>
                  <td>4</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#FFFF00">
                  <td><strong>COL Weighted Star Rating (using rounded %)</strong></td>
                  <td>2</td>
                  <td>4</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#FFFF00">
                  <td><strong>Group COL Total Star Rating</strong></td>
                  <td>2</td>
                  <td>2</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#D3D3D3">
                  <td><strong>EED Num</strong></td>
                  <td>74</td>
                  <td>3</td>
                  <td>10</td>
                </tr>
                <tr bgcolor="#D3D3D3">
                  <td><strong>EED Den</strong></td>
                  <td>96</td>
                  <td>5</td>
                  <td>12</td>
                </tr>
                <tr bgcolor="#D3D3D3">
                  <td><strong>EED %</strong></td>
                  <td>77.08%</td>
                  <td>60.00%</td>
                  <td>83.33%</td>
                </tr>
                <tr bgcolor="#D3D3D3">
                  <td><strong>EED % (rounded)</strong></td>
                  <td>77%</td>
                  <td>60%</td>
                  <td>83%</td>
                </tr>
                <tr bgcolor="#D3D3D3">
                  <td><strong>EED Star rating</strong></td>
                  <td>4</td>
                  <td>2</td>
                  <td>4</td>
                </tr>
                <tr bgcolor="#D3D3D3">
                  <td><strong>EED Star rating (using rounded %)</strong></td>
                  <td>4</td>
                  <td>2</td>
                  <td>4</td>
                </tr>
                <tr bgcolor="#D3D3D3">
                  <td><strong>EED Weighted Star Rating</strong></td>
                  <td>4</td>
                  <td>2</td>
                  <td>4</td>
                </tr>
                <tr bgcolor="#D3D3D3">
                  <td><strong>EED Weighted Star Rating (using rounded %)</strong></td>
                  <td>4</td>
                  <td>2</td>
                  <td>4</td>
                </tr>
                <tr bgcolor="#D3D3D3">
                  <td><strong>Group EED Total Star Rating</strong></td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                </tr>
                <tr bgcolor="#B0E0E6">
                  <td><strong>FMC Num</strong></td>
                  <td>38</td>
                  <td>0</td>
                  <td>9</td>
                </tr>
                <tr bgcolor="#B0E0E6">
                  <td><strong>FMC Den</strong></td>
                  <td>73</td>
                  <td>3</td>
                  <td>13</td>
                </tr>
                <tr bgcolor="#B0E0E6">
                  <td><strong>FMC %</strong></td>
                  <td>52.05%</td>
                  <td>0.00%</td>
                  <td>69.23%</td>
                </tr>
                <tr bgcolor="#B0E0E6">
                  <td><strong>FMC % (rounded)</strong></td>
                  <td>52%</td>
                  <td>0%</td>
                  <td>69%</td>
                </tr>
                <tr bgcolor="#B0E0E6">
                  <td><strong>FMC Star rating</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#B0E0E6">
                  <td><strong>FMC Star rating (using rounded %)</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#B0E0E6">
                  <td><strong>FMC Weighted Star Rating</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>5</td>
                </tr>

                <tr bgcolor="#B0E0E6">
                  <td><strong>FMC Weighted Star Rating (using rounded %)</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#B0E0E6">
                  <td><strong>Group FMC Total Star Rating</strong></td>
                  <td>3</td>
                  <td>3</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#FFE0BD">
                  <td><strong>HBA1CCTL Num</strong></td>
                  <td>77</td>
                  <td>5</td>
                  <td>9</td>
                </tr>
                <tr bgcolor="#FFE0BD">
                  <td><strong>HBA1CCTL Den </strong></td>
                  <td>96</td>
                  <td>5</td>
                  <td>12</td>
                </tr>
                <tr bgcolor="#FFE0BD">
                  <td><strong>HBA1CCTL %</strong></td>
                  <td>80.21%</td>
                  <td>100.00%</td>
                  <td>75.00%</td>
                </tr>
                <tr bgcolor="#FFE0BD">
                  <td><strong>HBA1CCTL % (rounded)</strong></td>
                  <td>80%</td>
                  <td>100%</td>
                  <td>75%</td>
                </tr>
                <tr bgcolor="#FFE0BD">
                  <td><strong>HBA1CCTL Star rating</strong></td>
                  <td>3</td>
                  <td>5</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#FFE0BD">
                  <td><strong>HBA1CCTL Star rating (using rounded %)</strong></td>
                  <td>3</td>
                  <td>5</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#FFE0BD">
                  <td><strong>HBA1CCTL Weighted Star Rating</strong></td>
                  <td>9</td>
                  <td>15</td>
                  <td>9</td>
                </tr>
                <tr bgcolor="#FFE0BD">
                  <td><strong>HBA1CCTL Weighted Star Rating (using rounded %)</strong></td>
                  <td>9</td>
                  <td>15</td>
                  <td>9</td>
                </tr>
                <tr bgcolor="#FFE0BD">
                  <td><strong>Group HBA1CCTL Total Star Rating</strong></td>
                  <td>3</td>
                  <td>3</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#CCFFCC">
                  <td><strong>KED Num</strong></td>
                  <td>76</td>
                  <td>3</td>
                  <td>16</td>
                </tr>
                <tr bgcolor="#CCFFCC">
                  <td><strong>KED Den</strong></td>
                  <td>117</td>
                  <td>3</td>
                  <td>19</td>
                </tr>
                <tr bgcolor="#CCFFCC">
                  <td><strong>KED %</strong></td>
                  <td>64.96%</td>
                  <td>100.00%</td>
                  <td>84.21%</td>
                </tr>
                <tr bgcolor="#CCFFCC">
                  <td><strong>KED % (rounded)</strong></td>
                  <td>65%</td>
                  <td>100%</td>
                  <td>84%</td>
                </tr>
                <tr bgcolor="#CCFFCC">
                  <td><strong>KED Star rating</strong></td>
                  <td>4</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#CCFFCC">
                  <td><strong>KED Star rating (using rounded %)</strong></td>
                  <td>4</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#CCFFCC">
                  <td><strong>KED Weighted Star Rating</strong></td>
                  <td>4</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#CCFFCC">
                  <td><strong>KED Weighted Star Rating (using rounded %)</strong></td>
                  <td>4</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#CCFFCC">
                  <td><strong>Group KED Total Star Rating</strong></td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                </tr>
                <tr bgcolor="#DDA0DD">
                  <td><strong>MRP Num</strong></td>
                  <td>43</td>
                  <td>1</td>
                  <td>11</td>
                </tr>
                <tr bgcolor="#DDA0DD">
                  <td><strong>MRP Den</strong></td>
                  <td>92</td>
                  <td>3</td>
                  <td>16</td>
                </tr>
                <tr bgcolor="#DDA0DD">
                  <td><strong>MRP %</strong></td>
                  <td>46.74%</td>
                  <td>33.33%</td>
                  <td>68.75%</td>
                </tr>
                <tr bgcolor="#DDA0DD">
                  <td><strong>MRP % (rounded)</strong></td>
                  <td>47%</td>
                  <td>33%</td>
                  <td>69%</td>
                </tr>
                <tr bgcolor="#DDA0DD">
                  <td><strong>MRP Star rating</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#DDA0DD">
                  <td><strong>MRP Star rating (using rounded %)</strong></td>
                  <td>2.5</td>
                  <td>1.25</td>
                  <td>3.75</td>
                </tr>
                <tr bgcolor="#DDA0DD">
                  <td><strong>MRP Weighted Star Rating</strong></td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                </tr>
                <tr bgcolor="#DDA0DD">
                  <td><strong>MRP Weighted Star Rating (using rounded %)</strong></td>
                  <td>2.5</td>
                  <td>1.25</td>
                  <td>3.75</td>
                </tr>
                <tr bgcolor="#DDA0DD">
                  <td><strong>Group MRP Total Star Rating</strong></td>
                  <td>2</td>
                  <td>2</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#E8E8E8">
                  <td><strong>OMW Num</strong></td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr bgcolor="#E8E8E8">
                  <td><strong>OMW Den</strong></td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr bgcolor="#E8E8E8">
                  <td><strong>OMW %</strong></td>
                  <td>na</td>
                  <td>na</td>
                  <td>na</td>
                </tr>
                <tr bgcolor="#E8E8E8">
                  <td><strong>OMW % (rounded)</strong></td>
                  <td>na</td>
                  <td>na</td>
                  <td>na</td>
                </tr>
                <tr bgcolor="#E8E8E8">
                  <td><strong>OMW Star rating</strong></td>
                  <td>na</td>
                  <td>na</td>
                  <td>na</td>
                </tr>
                <tr bgcolor="#E8E8E8">
                  <td><strong>OMW Star rating (using rounded %)</strong></td>
                  <td>na</td>
                  <td>na</td>
                  <td>na</td>
                </tr>
                <tr bgcolor="#E8E8E8">
                  <td><strong>OMW Weighted Star Rating</strong></td>
                  <td>na</td>
                  <td>na</td>
                  <td>na</td>
                </tr>
                <tr bgcolor="#E8E8E8">
                  <td><strong>OMW Weighted Star Rating (using rounded %)</strong></td>
                  <td>na</td>
                  <td>na</td>
                  <td>na</td>
                </tr>
                <tr bgcolor="#E8E8E8">
                  <td><strong>Group OMW Total Star Rating</strong></td>
                  <td>na</td>
                  <td>na</td>
                  <td>na</td>
                </tr>
                <tr bgcolor="#99CCDF">
                  <td><strong>SPC_TX Num</strong></td>
                  <td>22</td>
                  <td>1</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#99CCDF">
                  <td><strong>SPC_TX Den</strong></td>
                  <td>24</td>
                  <td>1</td>
                  <td>4</td>
                </tr>
                <tr bgcolor="#99CCDF">
                  <td><strong>SPC_TX %</strong></td>
                  <td>91.67%</td>
                  <td>100.00%</td>
                  <td>75.00%</td>
                </tr>
                <tr bgcolor="#99CCDF">
                  <td><strong>SPC_TX % (rounded)</strong></td>
                  <td>92%</td>
                  <td>100%</td>
                  <td>75%</td>
                </tr>
                <tr bgcolor="#99CCDF">
                  <td><strong>SPC_TX Star rating</strong></td>
                  <td>4</td>
                  <td>5</td>
                  <td>1</td>
                </tr>
                <tr bgcolor="#99CCDF">
                  <td><strong>SPC_TX Star rating (using rounded %)</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>1</td>
                </tr>
                <tr bgcolor="#99CCDF">
                  <td><strong>SPC_TX Weighted Star Rating</strong></td>
                  <td>4</td>
                  <td>5</td>
                  <td>1</td>
                </tr>
                <tr bgcolor="#99CCDF">
                  <td><strong>SPC_TX Weighted Star Rating (using rounded %)</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>1</td>
                </tr>

                <tr bgcolor="#F5F5F5">
                  <td><strong>Group SPC_TX Total Star Rating </strong></td>
                  <td>4</td>
                  <td>4</td>
                  <td>4</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_MED_REC Num</strong></td>
                  <td>43</td>
                  <td>1</td>
                  <td>11</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_MED_REC Den</strong></td>
                  <td>92</td>
                  <td>3</td>
                  <td>16</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_MED_REC %</strong></td>
                  <td>46.74%</td>
                  <td>33.33%</td>
                  <td>68.75%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_MED_REC % (rounded)</strong></td>
                  <td>47%</td>
                  <td>33% </td>
                  <td>69%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_MED_REC Star rating</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_MED_REC Star rating (using rounded %)</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_MED_REC Weighted Star Rating</strong></td>
                  <td>0.5</td>
                  <td>0.25</td>
                  <td>0.75</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_MED_REC Weighted Star Rating (using rounded %)</strong></td>
                  <td>0.5</td>
                  <td>0.25</td>
                  <td>0.75</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>Group TRC_MED_REC Total Star Rating</strong></td>
                  <td>2</td>
                  <td>2</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong> TRC_PA Num</strong></td>
                  <td>72</td>
                  <td>3</td>
                  <td>14</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_PA Den</strong></td>
                  <td>90</td>
                  <td>3</td>
                  <td>16</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_PA %</strong></td>
                  <td>80.00%</td>
                  <td>100.00%</td>
                  <td>87.50%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong> TRC_PA % (rounded)</strong></td>
                  <td>80%</td>
                  <td>100%</td>
                  <td>88%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong> TRC_PA Star rating</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>TRC_PA Star rating (using rounded %)</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong> TRC_PA Weighted Star Rating</strong></td>
                  <td>1.25</td>
                  <td>1.25</td>
                  <td>1.25</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong> TRC_PA Weighted Star Rating (using rounded %)</strong></td>
                  <td>1.25</td>
                  <td>1.25</td>
                  <td>1.25</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong> Group TRC_PA Total Star Rating</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong> PCR Num</strong></td>
                  <td>8</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>PCR Den</strong></td>
                  <td>66</td>
                  <td>4</td>
                  <td>8</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>PCR %</strong></td>
                  <td>12.12%</td>
                  <td>25.00%</td>
                  <td>12.50%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>PCR % (rounded)</strong></td>
                  <td>12%</td>
                  <td>25%</td>
                  <td>13%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>PCR Star rating(rounded)</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>PCR Star rating (using rounded %)</strong></td>
                  <td>3</td>
                  <td>1</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>PCR Weighted Star Rating</strong></td>
                  <td>6</td>
                  <td>3</td>
                  <td>6</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>PCR Weighted Star Rating (using rounded %)</strong></td>
                  <td>9</td>
                  <td>3</td>
                  <td>6</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>Group PCR Total Star Rating</strong></td>
                  <td>2</td>
                  <td>2</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAD Num</strong></td>
                  <td>75</td>
                  <td>0</td>
                  <td>15</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAD Den</strong></td>
                  <td>90</td>
                  <td>3</td>
                  <td>18</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAD %</strong></td>
                  <td>83.33%</td>
                  <td>0.00%</td>
                  <td>83.33%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAD % (rounded)</strong></td>
                  <td>83%</td>
                  <td>0%</td>
                  <td>83%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAD Star rating</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAD Star rating (using rounded %)</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAD Weighted Star Rating</strong></td>
                  <td>6</td>
                  <td>3</td>
                  <td>6</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAD Weighted Star Rating (using rounded %)</strong></td>
                  <td>6</td>
                  <td>3</td>
                  <td>6</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>Group MAD Total Star Rating</strong></td>
                  <td>2</td>
                  <td>2</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAH Num</strong></td>
                  <td>149</td>
                  <td>7</td>
                  <td>23</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAH Den</strong></td>
                  <td>179</td>
                  <td>8</td>
                  <td>25</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAH %</strong></td>
                  <td>83.24%</td>
                  <td>87.50%</td>
                  <td>92.00%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAH % (rounded)</strong></td>
                  <td>83%</td>
                  <td>88%</td>
                  <td>92%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAH Star rating</strong></td>
                  <td>2</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAH Star rating (using rounded %)</strong></td>
                  <td>2</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAH Weighted Star Rating</strong></td>
                  <td>6</td>
                  <td>9</td>
                  <td>15</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAH Weighted Star Rating (using rounded %)</strong></td>
                  <td>6</td>
                  <td>9</td>
                  <td>15</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>Group MAH Total Star Rating</strong></td>
                  <td>2</td>
                  <td>2</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAC Num</strong></td>
                  <td>210</td>
                  <td>5</td>
                  <td>34</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAC Den</strong></td>
                  <td>249</td>
                  <td>7</td>
                  <td>38</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAC %</strong></td>
                  <td>84.34%</td>
                  <td>71.43%</td>
                  <td>89.47%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAC % (rounded)</strong></td>
                  <td>84%</td>
                  <td>71%</td>
                  <td>89%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAC Star rating (rounded)</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAC Star rating (using rounded %)</strong></td>
                  <td>2</td>
                  <td>1</td>
                  <td>3</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAC Weighted Star Rating</strong></td>
                  <td>6</td>
                  <td>3</td>
                  <td>9</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>MAC Weighted Star Rating (using rounded %)</strong></td>
                  <td>6</td>
                  <td>3</td>
                  <td>9</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>Group MAC Total Star Rating</strong></td>
                  <td>2</td>
                  <td>2</td>
                  <td>2</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>SUPD Num</strong></td>
                  <td>64</td>
                  <td>2</td>
                  <td>10</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>SUPD Den</strong></td>
                  <td>69</td>
                  <td>2</td>
                  <td>10</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>SUPD %</strong></td>
                  <td>92.75%</td>
                  <td>100.00%</td>
                  <td>100.00%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>SUPD % (rounded)</strong></td>
                  <td>93%</td>
                  <td>100%</td>
                  <td>100%</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>SUPD Star rating </strong></td>
                  <td>4</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>SUPD Star rating (using rounded %)</strong></td>
                  <td>4</td>
                  <td>5</td>
                  <td>5</td>
                </tr>

                <tr bgcolor="#F5F5F5">
                  <td><strong>SUPD Weighted Star Rating</strong></td>
                  <td>4</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>SUPD Weighted Star Rating (using rounded %)</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr>
                <tr bgcolor="#F5F5F5">
                  <td><strong>Group SUPD Total Star Rating</strong></td>
                  <td>5</td>
                  <td>5</td>
                  <td>5</td>
                </tr> 

                         </table>


                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
