
<main id="main" class="main" style="margin-top:50px!important;min-height:550px;">
    <section class="section dashboard">
        <div class="row">
         <!-- Left side columns -->
         <div class="col-lg-12">
           <div class="card">
                     <div class="card-body">

                         <div class="row align-items-center">
    <!-- Upload form -->
    <div class="col-lg-6">
        <form method="post" action="/processriskgap/" enctype="multipart/form-data" id="process_member_action" onsubmit="show_loder();">
                  <input type="hidden" name="csrfmiddlewaretoken" value="0nTKNalXlPxaVUGUYUE53lkKVVHMomlVSjfS3uY0TqcMX0CpQMyCiQyIzYRbqSNf">
            <div class="row g-2 align-items-center">
                <div class="col-lg-4 text-uppercase">
                    Select Risk Gap File
                </div>
                <div class="col-lg-4">
                    <input type="file" name="file" accept=".csv" class="form-control" required>
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-primary w-100 text-uppercase">Upload</button>
                </div>
            </div>
        </form>
    </div>
    
      <div class="col-lg-6">
          <a href="/static/sample_file/Riskgaps_sample_file.csv" target="_blank">RISK GAPS SAMPLE FILE</a>
      </div>
    
    <!-- Messages -->
    <div class="col-lg-6">
        
    </div>
</div>


                     </div>
           </div>
         </div>
        </div>
        
       
    </section>
</main>