
.box12
  {
    border:1px solid #e5e6e7;padding:7px 12px;height:34px;
  }
  .box13
  {
        padding: 10px 0px;width:100%;background-color:#fff;padding:3px;text-align:center;font-size:12px;
    font-weight:bold;margin:4px 0px;color:#1569c7;font-family:'Roboto'!important;

  }
  .box13:hover
  {
    background-color:#1569c7;
    color:#fff;
  }
  .box13_active
  {
    background-color:#1569c7;
    color:#fff;
  }

  .block1
  {width:50%;float:left;}
  .block1_space
  {margin:0px 4px;}
  .show_box
  {
    background-color:#FFF;
    padding:10px;
    min-height:323px;
    margin-bottom:10px;
    border-top:10px solid #274f75;
    border-bottom-style:dashed;
    border-color:#274f75;
    border-radius:5px;
  }
  .show_box_heading
  {
    font-size:24px;padding-bottom:10px;color:#274f75;
  }
  .cross_bot
  {position:absolute;right:0;margin-right:14px;font-size:20px;top:15px;}
  .icon_size
  {
    font-size:30px;margin-top:10px;
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px)

  {
    .box13
    {
      margin:3px 0px!important;
    }
  }

  .txtborder{ border: 1px solid red !important; }


  h1 {
    font-size: 2em;
    padding: 2em;
    text-align: center;
  }

  .accordion dl {
  }

  .accordion dt > a {
    text-align: center;
    font-weight: 200;
    padding: 1em;
    display: block;
    text-decoration: none;
    color: #000;
    -webkit-transition: background-color 0.5s ease-in-out;

  }
  .accordion dd {
    background-color: #eeeeee;
    color:#fafafa;
    font-size: 1em;
    line-height: 1.5em;
  }
  .accordion dd > p {
    padding: 1em 2em 1em 2em;
  }

  .accordion {
    position: relative;
    background-color: #fff;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;
  }

  
    .accordionTitle:before {
      content: "-";
      font-size: 2em;
      line-height: 0.5em;
      float: left;
      -moz-transition: -moz-transform 0.3s ease-in-out;
      -o-transition: -o-transform 0.3s ease-in-out;
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
    }
 
    .accordionTitleActive:before {
      content: "+";
      font-size: 2em;
      line-height: 0.5em;
      float: left;
    }
    .accordionItem {
      height: auto;
      overflow: hidden;
      
    }
    @media all {
      .accordionItem {
        max-height: 50em;
        -moz-transition: max-height 1s;
        -o-transition: max-height 1s;
        -webkit-transition: max-height 1s;
        transition: max-height 1s;
      }
    }
    @media screen and (min-width: 48em) {
      .accordionItem {
        max-height: 15em;
        -moz-transition: max-height 0.5s;
        -o-transition: max-height 0.5s;
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s;
      }
    }

    .accordionItemCollapsed {
      max-height: 0;
    }

    .animateIn {
      -webkit-animation-name: accordionIn;
      -webkit-animation-duration: 0.65s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-direction: normal;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-fill-mode: both;
      -webkit-animation-delay: 0s;
      -moz-animation-name: normal;
      -moz-animation-duration: 0.65s;
      -moz-animation-iteration-count: 1;
      -moz-animation-direction: alternate;
      -moz-animation-timing-function: ease-in-out;
      -moz-animation-fill-mode: both;
      -moz-animation-delay: 0s;
      animation-name: accordionIn;
      animation-duration: 0.65s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
      animation-delay: 0s;
    }

    .animateOut {
      -webkit-animation-name: accordionOut;
      -webkit-animation-duration: 0.75s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-direction: alternate;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-fill-mode: both;
      -webkit-animation-delay: 0s;
      -moz-animation-name: accordionOut;
      -moz-animation-duration: 0.75s;
      -moz-animation-iteration-count: 1;
      -moz-animation-direction: alternate;
      -moz-animation-timing-function: ease-in-out;
      -moz-animation-fill-mode: both;
      -moz-animation-delay: 0s;
      animation-name: accordionOut;
      animation-duration: 0.75s;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
      animation-delay: 0s;
    }



    @-webkit-keyframes accordionIn {
      0% {
        opacity: 0;
        -webkit-transform: scale(0.8);
      }
      100% {
        opacity: 1;
        -webkit-transform: scale(1);
      }
    }
    @-moz-keyframes accordionIn {
      0% {
        opacity: 0;
        -moz-transform: scale(0.8);
      }
      100% {
        opacity: 1;
        -moz-transform: scale(1);
      }
    }
    @keyframes accordionIn {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    @-webkit-keyframes accordionOut {
      0% {
        opacity: 1;
        -webkit-transform: scale(1);
      }
      100% {
        opacity: 0;
        -webkit-transform: scale(0.8);
      }
    }
    @-moz-keyframes accordionOut {
      0% {
        opacity: 1;
        -moz-transform: scale(1);
      } 
      100% {
        opacity: 0;
        -moz-transform: scale(0.8);
      }
    }
    @keyframes accordionOut {
      0% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(0.8);
      }
    }
    .f30
    {
      font-size:30px!important;font-weight:200!important;
    }

.box_height{
  height: 300px;
}

.tbl_scorll{
  overflow-y:scroll;  overflow-x: hidden; height: 280px;
}

.add_btn{
  float: right; cursor: pointer;text-decoration: underline; color: #000;
}

.add_btn:hover{
  float: right; cursor: pointer;text-decoration: underline; color: #000;
}

.boxhover{
    background-color:#1569c7;
    color:#fff;
 }

 .boxbgcl{
    background-color:#b3cef1; 
 }



.box1
{
margin-bottom: 10px;
padding: 10px 17px;
background: #fff;
border: 1px solid #E6E9ED;
}
.text2
{
color:#000;font-size:16px;margin-top:10px;font-weight:600;
}
.pt1
{
padding-top:10px;
}

.pt2
{
padding-top:20px;
}
.pb1
{
padding-bottom:10px;
}
.pb2
{
padding-bottom:20px;
}

.post1
{
font-size:30px;color:#000;
}
.b-right
{
border-right:1px solid #E6E9ED;
}
.b-bottom
{
border-bottom:1px solid #E6E9ED;width:90px;
}
.f10
{
font-size:14px;
}
.text-b
{
  color:#000;
}
.left-part
{
width:45%;float:left;
}
.right-part
{
width:53%;float:left;margin-left:2%;
}
.box-w
{
background-color:#fff;padding:15px 20px;margin-top:10px;color:#000;box-shadow:1px 1px 5px 1px #888888;
}
.tab-back
{
background-color:#E6E9ED;float:left;line-height:28px;
}
.tab-white
{
background-color:#FFF;padding:1px 10px;float:left;line-height:28px;
}
.tab-text
{
float:left;line-height:30px;margin-left:20px;
}
.bar
{
float:left;width:2px;height:30px;background-color:#E6E9ED;margin-top:15px;
}
.circle-g
{
width:10px;height:10px;border-radius:50%;background-color:#090;margin-top:3px;
}
.b-line
{border-bottom:1px solid #E6E9ED;padding-bottom:10px;margin-bottom:10px;}
.circle-part
{float:left;width:7%}
.text-part
{
float:left;width:68%
}
.arrow-part
{
float:left;width:10%
}
.amount-part
{
float:left;width:15%
}
.box123
{
height:auto;min-height:405px;
}
.pannel-lower
{
padding:20px;height:auto;min-height:250px;
}
.icon-blue
{width:40px;height:40px;border-radius:50%;background-color:#337ab7;color:#fff;text-align:center;margin:0px 10px;}
.search-space
{
width:22px;height:22px;background-color:#1569c7;color:#fff;text-align:center;
}
.bar2
{
width:3px;height:140px;;background-color:#1569c7;
}
.circle2
{
width:15px;height:15px;background-color:#FFF;border:2px solid #1569c7;border-radius:50%;margin-left:-7px;
}
.ball
{
width:40px;height:40px;background-color:#F00;color:#000;padding:8px;font-weight:600;font-size:18px;
}
.hedis_txt_link{
  text-decoration:underline;color: #1569c7;
}
.progressbar_ht{
  height:5px;
}
.col1{
  color:#76ba1b;
}
.col2{
  color:#0d6efd;
}
.col3{
  color:#ffd802;
}
.col4{
  color:#dc3545;
}
.hedis_mg{
  float:right;
}
.mrtop{
  margin-top: 4%;
}
.cl_color{
  color: #000;
}
.mrright{
  float:left; margin-right: 20px;
}

.darrow {
  appearance: auto;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  background-image: none !important;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  text-indent: -9999px; /* hide text */
}
.ui-datepicker .ui-datepicker-prev::after {
  content: "<";
  position: absolute;
  left: 8px;
  top: 3px;
  font-weight: bold;
}

.ui-datepicker .ui-datepicker-next::after {
  content: ">";
  position: absolute;
  right: 8px;
  top: 3px;
  font-weight: bold;
}
    .ui-datepicker .ui-datepicker-header {
  position: relative;
  z-index: 2;
}

select {
  appearance: none;             /* Remove default OS styling */
  -webkit-appearance: none;     /* For Safari */
  -moz-appearance: none;        /* For Firefox */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 32px 6px 12px;   /* Space for arrow */
  font-size: 14px;
  line-height: 1.5;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
  cursor: pointer;
}

select:focus {
  border-color: #007bff;
  outline: none;
}

.dataTables_length select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
    background-size: 14px;
  padding-right: 20px !important;   /* Make room for the arrow */
  text-align: left;               /* Center number properly */
  min-width:40px;                  /* Prevent text/arrow overlap */
background-position: right 6px center !important;

}