<main id="main" class="main" style="margin-top:50px!important;min-height:550px;">
    <section class="section dashboard">
        <div class="d-flex align-items-center justify-content-center py-1 border-primary">
            <a class="col-2" href="#" style="padding:10px;" ></a>
            <div class="col-8" style="text-align:center; font-weight:500; font-size:16px;">
                <i class="fa fa-info-circle" aria-hidden="true"></i> |Rose Crosby - #3801060702 | ENROLLEE NO - 3801060702 | CASE NO - #2345  | GENDER - F | DOB - None |<br>
                <h5 style="font-size:16px; font-weight:500 !important;">| HEDIS: <span style="color:#56c729;">100%</span> | P4P: <span style="color:#56c729;">100%</span> | HCC: <span style="color:#56c729;">40%</span> | CLAIMS: <span style="color:#0d6efd;">333</span> |</h5>
            </div>
            <div class="col-2">

            </div>
            <div style="clear:both"></div>
        </div>
        <div class="accordionItem accordionItem">
            <div class="row">
                    <div style="background-color:#e4e8ed;" class="p-3 d-flex">

                            <div class="col-lg-1" style="    padding: 0px 5px 0px 15px;">
                                <a href="javascript:void(0);" class="text-decoration-none"  data-toggle="modal" data-target="#demographic">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0" id="box1">
                                        <div><i class="fa fa-bar-chart f30"></i><br/>DEMOGRAPHIC</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1" style="    padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none" onclick="add_update_action_click('3801060702','Rose','Crosby');">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0" id="box2">
                                        <div >
                                            <i class="fa fa-plus f30"></i><br/>ADD ACTION
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1" style="    padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none" data-toggle="modal" data-target="#add_address" >
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0" id="box3">
                                        <div><i class="fa fa-map-marker f30"></i><br/>ALT ADDRESS</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1" style="    padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none" data-toggle="modal" data-target="#alt_phone">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0" id="box4">
                                        <div><i class="fa fa-phone f30"></i><br/>ALT PHONE</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1" style="    padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none" data-toggle="modal" data-target="#altLanguage">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0" id="box5">
                                        <div><i class="fa fa-external-link f30"></i><br/>ALT LANGUAGE</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1" style="    padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none" data-toggle="modal" data-target="#pcp_list">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0" id="box6">
                                        <div>
                                            <i class="fa fa-list-alt f30"></i><br/>PCP LIST
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-1" style="padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0">
                                        <div>
                                            <i class="fa fa-hospital-o f30"></i><br/>RISK GAPS
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1" style="padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0">
                                        <div>
                                            <i class="fa fa-medkit f30"></i><br/>QUALITY GAPS
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-lg-1" style="padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0">
                                        <div>
                                            <i class="fa fa-stethoscope f30"></i><br/>MEDICAL CLAIM
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1" style="padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0">
                                        <div>
                                            <i class="fa fa-pencil-square-o f30"></i><br/>Rx CLAIM
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1" style="padding: 0px 5px 0px 5px;">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#benefits" class="text-decoration-none">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0">
                                        <div>
                                            <i class="fa fa-circle-o-notch f30"></i><br/>BENEFITS
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-1" style="padding: 0px 15px 0px 5px;">
                                <a href="javascript:void(0);" class="text-decoration-none">
                                    <div class="box13 d-flex align-items-center justify-content-center py-3 m-0">
                                        <div>
                                            <i class="fa fa-bar-chart f30"></i><br/>ENCOUNTERS
                                        </div>
                                    </div>
                                </a>
                            </div>
                    </div>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="card" id="alert_box">
                    <div class="card-body">
                        <h4 align="center">ACTION LOG</h4>
                        <div class="box_height">
                            <div class="tbl_scorll">
                                <table class="table table-sm" style="font-size:14px;">
                                    <thead>
                                    <tr style="text-transform: uppercase;">
                                        <th>LOG NAME</th>
                                        <th>DETAILS</th>
                                        <th>STATUS</th>
                                        <th width="15%">LOG BY</th>
                                        <th width="22%">DATE</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    
                                    <tr style="text-transform: uppercase;">
                                        <td>Alternative Language</td>
                                        <td>Alt Language changed FRENCH</td>
                                        <td>Success</td>
                                        <td>Nicole Johnson</td>
                                        <td>10/29/2025 08:10</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card" >
                    <div class="card-body">
                        <h4 align="center">ACTION LIST</h4>
                        <div class="box_height">
                            <div class="tbl_scorll">
                                <table class="table table-sm" style="font-size:14px;">
                                    <thead>
                                        <tr>
                                            <th>ACTIVITY TYPE</th>
                                            <th style="text-align:center;">ACTION DATE</th>
                                            <th>TYPE</th>
                                            <th>STATUS</th>
                                            <th>NOTE</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                        <tr style="text-transform: uppercase;">
                                            <td>
                                            <a style="cursor: pointer;" onclick="add_update_action_click('3801060702','Rose','Crosby','75');">
                                                Phone call
                                            </a>
                                            </td>
                                            <td align="center">10/29/2025</td>
                                            <td>Gaps-in-Care</td>
                                            <td style="text-transform: uppercase;">Scheduled</td>
                                            <td>dasdasd</td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card" >
                    <div class="card-body">
                        <a class="add_btn" data-toggle="modal" data-target="#add_alert" onclick="add_alert();">+Add</a>
                        <h4 align="center">ALERTS</h4>
                        <div class="box_height">
                            <div class="tbl_scorll">
                                <table class="table table-sm" style="font-size:14px;">
                                    <thead>
                                        <tr>
                                            <th>ALERT</th>
                                            <th>TYPE</th>
                                            <th>STATUS</th>
                                            <th style="text-align:center;">DUE DATE</th>
                                        </tr>
                                    </thead>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
<!-- End #main -->

